.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    color: white;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.40),
        rgba(0, 0, 0, 0.40)), 
        url("../../public/images/header.jpg");
    background-position-y: -250px;
    background-size: cover;
}

.title img {
    width: 400px;
    margin: 0 auto;
}