.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 22px;
    color: white;
    height: 20vh;
    width: 100%;
    background-image: url("../../public/images/header.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -145px;
}

.cimpo-photo {
    height: 100px;
}

.title img {
    width: 400px;
    margin: 0 auto;

}