body {
  background: white;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories h3 {
  margin: 0px 10px 5px;
}

.categories h3:hover {
  cursor: pointer;
}

.catalog-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.product-grid-item {
  padding: 10px;
  margin: 10px;
  flex: 1 0 calc(33.33% - 20px);
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

.product-grid-item a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.product-grid-item:hover img {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.product-grid-item:hover:before,
.product-grid-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-image {
  flex-basis: 40%;
  margin-left: 50px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  flex-basis: 30%;
}

.product-details p {
  font-size: 16px;
  margin: 10px 0;
}

.product-description {
  flex-basis: 25%;
}

.product-description p {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
}

.product-contact {
  flex-basis: 100%;
  margin-top: 50px;
}

.product-contact h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.product-contact a {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

.product-contact a:hover {
  color: #007bff;
}

.product-square {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-square img {
  max-width: 100%;
  max-height: 410px;
  object-fit: contain;
}
