.about-container {
    padding-top: 55px;
    min-height: calc(100vh - 100px - 55px);
    width: 100%;
    margin: 0 auto;
  }

  .about-container h2 {
    font-weight: 500;
  }
  
  .about-content-container {
    max-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  
  .left-column-image,
  .right-column-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-column-image img,
  .right-column-image img {
    max-height: 100%;
    width: 100%;
  }
  
  .right-column-text,
  .left-column-text {
    flex: 1;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .left-column-content,
  .right-column-content {
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .about-content-container {
      flex-direction: column;
    }
  
    .left-column-image,
    .right-column-image {
      flex: 1;
      height: 50%;
    }
  
    .left-column-text,
    .right-column-text {
      flex: 1;
      height: 50%;
    }
  }
  