.about-container {
  position: relative;
  padding-top: 214px;
  min-height: calc(100vh - 100px - 214px);
  margin: 0 auto;
}

.about-container h2 {
  font-weight: 700;
  font-size: 4vh;
  margin: 0;
}

.about-container p {
  margin-bottom: 10px;
}

.about-container ul {
  padding-left: 15px;
}

.about-content-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.left-column-image,
.right-column-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column-image img,
.right-column-image img {
  height: 100%;
  width: 100%;
}

.right-column-text,
.left-column-text {
  flex: 1;
  font-size: 1.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-column-content,
.right-column-content {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .about-content-container {
    flex-direction: column;
    height: fit-content;
  }

  .about-container h2 {
    margin: 40px 0 20px 0;
  }

  .about-container p {
    margin-bottom: 10px;
  }

  .about-container ul {
    padding-left: 40px;
  }

  .left-column-text,
  .right-column-text {
    flex: none;
    margin-bottom: 40px;
    min-height: 50vh;
  }

  .about-content-container:nth-child(even) .left-column-text,
  .about-content-container:nth-child(even) .left-column-image {
    order: 2;
  }

  .about-content-container:nth-child(even) .right-column-text,
  .about-content-container:nth-child(even) .right-column-image {
    order: 1;
  }

  .left-column-content,
  .right-column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}