.catalog-container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px - 55px);
}

.sidebar-wrapper {
  display: column;
  flex-direction: column;
  justify-content: center;
}

.sidebar-wrapper > * {
  display: block;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: fit-content;
  padding: 15px;
  border: 1px solid #ccc;
  margin: 69px 5px 0px 10px;
  position: relative;
}

.sidebar-heading {
  margin-top: 10px;
}

.sidebar h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 800;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 4px 0 5px 0;
}

.second-sidebar {
  margin-top: 15px;
  background-color: #0c4d94;
  border: 0px;
  left: 1px;
  border-radius: 10px;
}

.sidebar-heading-discounts h3 {
  border: none;
  color: white;
  text-align: center;
}

.sidebar .category {
  margin-top: 10px;
}

.sidebar .sub-category {
  margin-left: 8px;
  font-weight: 300;
}

.sidebar .sidebar-toggle-button {
  position: absolute;
  right: 7px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.sidebar .sidebar-toggle-button.open {
  transform: rotate(180deg);
  margin-top: -2px;
}

.sidebar .selected-product {
  margin-top: 8px;
}

.current-category {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sort-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.sort-options label {
  display: block;
}

.search-bar {
  margin-bottom: 10px;
}

.search-bar #search {
  padding: 0;
  margin: 0;
  width: 171px;
  border-radius: 5px;
  border-width: 1px;
  height: 16.5px;
}

#sort-select {
  border-radius: 5px;
}

#items-per-page-select {
  border-radius: 5px;
}

.items-per-page {
  margin-left: 7px;
  position: relative;
}

.select-deselect-items {
  position: absolute;
  margin-top: 2px;
  right: 35px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.select-deselect-items button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.select-deselect-items img {
  width: 20px;
  height: auto;
}

.export-container {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

.icon-button img {
  height: 28px;
  width: auto;
}

.products-wrapper {
  max-width: 51%;
}

.product-grid,
.selected-product-grid {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-grid {
  display: flex;
  margin-top: -10px;
}

.selected-product-grid {
  display: none;
}

.product-grid-item {
  position: relative;
  margin: 7px;
  flex: 1 0 calc(33.33% - 20px);
  cursor: pointer;
  max-width: 292.33px;
}

.product-grid-item a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.product-square {
  border: 1px solid #ccc;
  padding: 0px;
  text-align: center;
  position: relative;
}

.product-square a {
  display: block;
}

.selected-product-grid input[type="checkbox"] {
  display: none;
}

.product-grid .product-square input[type="checkbox"] {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  z-index: 99;
}

.product-square h2 {
  margin-top: 0px;
  height: 50px;
  font-size: 1.6vh;
  overflow: hidden;
  padding: 10px 4px 10px 4px;
}

.product-square p {
  margin: 0 0 15px 0;
  font-size: 1.4vh;
}

.product-square img {
  max-width: 66%;
  max-height: 178px;
  object-fit: contain;
  border-radius: 5px;
}

.load-more-button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  padding: 6px 20px 6px 20px;
  border-radius: 20px;
  border: 0px;
  font-size: 1.2vh;
  background-color: #0c4d94;
  color: white;
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.no-scroll {
  overflow: hidden;
}

.loading-circle {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.pdf-footer,
.pdf-header-container {
  display: none;
  justify-content: center;
  align-items: center;
}

.pdf-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-header a {
  display: flex;
  margin: 10px;
}

.contact-info {
  flex-grow: 1;
}

.pdf-header img {
  height: 220px;
  width: auto;
}

/* Animation for the loading circle */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1050px) {
  .catalog-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    max-width: 100%;
    margin: 0;
    position: relative;
  }

  .second-sidebar {
    width: fit-content;
    margin-top: 30px;
    left: 0px;
  }

  .sort-catalog {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .items-per-page {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .products-wrapper {
    max-width: 100%;
  }

  .product-grid {
    display: flex;
  }

  .product-grid-item {
    padding: 0px;
  }

}

@media screen and (max-width: 750px) {
  .product-grid-item:nth-child(odd) {
    margin: 10px;
  }

  .product-grid-item:nth-child(even) {
    margin: 10px 10px 0 0;
  }

  .product-grid-item {
    max-width: 200px;
    flex: 1 0 calc(33.33% - 10px);
  }

  .product-square img {
    max-width: 75%;
    max-height: 115px;
  }

  .search-bar #search {
    padding: 0;
    margin: 0;
  }

  .sidebar-category-select {
    display: none;
  }

  .export-heading {
    display: none;
  }

  .export-container {
    display: none;
  }

  .select-deselect-items {
    display: none;
  }

  .product-grid input[type="checkbox"] {
    display: none !important;
  }
}