.catalog-categories {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.categories-wrapper {
  width: 20%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.categories {
  margin-top: 75px;
  max-height: fit-content;
  width: 150px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  z-index: 1;
  position: relative;
}

.categories-heading {
  margin-bottom: 10px;
}

.categories h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.categories p {
  margin: 0 5px;
  font-size: 12px;
}

.categories .category {
  margin-bottom: 10px;
  color: darkgrey;
}

.categories p:hover {
  cursor: pointer;
  color: #007bff;
}

.categories .subcategories-toggle-button {
  position: absolute;
  right: 0;
}

.subcategories-toggle-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: black;
  cursor: pointer;
  outline: none;
  margin-left: auto;
}

.subcategories-toggle-button.open {
  transform: rotate(180deg);
}

.currentCategory {
  display: flex;
  justify-content: center;
}

.currentCategory h3 {
  margin: 0px;
}

.currentCategory a:hover {
  cursor: pointer;
  color: #007bff;
}

.products-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-right: 150px;
  margin-bottom: 50px;
  width: 80%;
}

.sort-options {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.product-grid-item {
  padding: 10px;
  margin: 10px;
  flex: 1 0 calc(33.33% - 20px);
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

.product-grid-item a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.product-grid-item:hover img {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.product-grid-item:hover:before,
.product-grid-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-square {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 450px;
}

.product-square h2{
  height: 60px;
  overflow: hidden;
}

.product-square img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.similar {
  display: flex;
  justify-content: center;
}
