.catalog-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.sidebar-wrapper {
  display: flex;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 200px;
  margin: 75px 0px 0px 10px;
  position: relative;
}

.sidebar-heading {
  margin-top: 10px;
}

.sidebar h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.sidebar .category {
  margin-top: 10px;
}

.sidebar .subcategories-toggle-button {
  position: absolute;
  right: 0;
}

.subcategories-toggle-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.subcategories-toggle-button.open {
  transform: rotate(180deg);
}

.current-category {
  display: flex;
  justify-content: center;
}

.sort-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.sort-options label {
  display: block;
  width: 100%;
}

.sort-options select {
  width: 100%;
  margin-top: 5px;
}

.search-bar {
  margin-bottom: 8px;
}

.items-per-page {
  margin-left: 18px;
}

.export-container {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

.icon-button img {
  height: 30px;
  width: auto;

}

.export-selected-pdf {
  visibility: hidden;
}

.products-wrapper {
  max-width: 51%;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-grid-item {
  position: relative;
  padding: 10px;
  flex: 1 0 calc(33.33% - 10px);
  cursor: pointer;
  max-width: 300px;
}

.product-grid-item a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.product-grid-item:hover img {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.product-grid-item:hover:before,
.product-grid-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-square {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-square h2 {
  height: 78px;
  font-size: 19px;
  overflow: hidden;
}

.product-square img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
