.contact-container {
  position: relative;
  padding-top: 110px;
  padding-bottom: 80px;
  min-height: calc(100vh - 100px - 55px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.contact-container h3 {
  font-weight: 400;
}

.contact-content-container h1,
.contact-content-container .contact-text {
  margin: 0 auto;
}

.contact-text {
  padding: 20px;
}

.contact-text h3 {
  margin: 0 auto;
  width: 80%;
}

.product-contact h3 {
  font-weight: 300;
}

.product-contact a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: bold;
}

.contact-page-font-size {
  font-size: 2vh;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%
  }

  .contact-text h3 {
    width: 100%
  }
}
