.contact-container {
  position: relative;
  padding-top: 110px;
  padding-bottom: 55px;
  min-height: calc(100vh - 100px - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.contact-container h3 {
  font-weight: 400;
}

.contact-content-container {
  flex: 1;
  text-align: left;
  width: fit-content;
  text-align: center;
}

.contact-content-container h1,
.contact-content-container .contact-text {
  width: fit-content;
  margin: 0 auto;
}

.contact-text {
  padding: 20px;
}

.contact-text h3 {
  margin: 0 auto;
  width: 80%;
}

.product-contact {
  flex: 1;
}

.product-contact h3 {
  font-weight: 300;
}

.product-contact a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: bold;
}

.contact-page-font-size {
  font-size: 2vh;
}

.contact-content-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

.contact-content-container ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 55px;
  }

  .contact-content-container {
    flex: none;
    margin-bottom: 50px;
  }

  .product-contact {
    flex: none;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%
  }
}