.contact-container {
  position: relative;
  margin-top: 55px;
  min-height: calc(100vh - 100px - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-container h3 {
  font-weight: 400;
}

.contact-content-container {
  height: fit-content;
}

.contact-text {
  width: 40%;
  margin: 0 auto;
}

.product-contact {
  margin: 20px;
}

.product-contact a {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
  font-weight: bold;
}

.contact-page-font-size {
  font-size: 20px;
}

.contact-content-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

.contact-content-container ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    margin-top: 55px;
    margin-bottom: 20px;
  }
}