.form-container {
  width: 80%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.form-container .form-row {
  display: flex;
  margin-bottom: 20px;
}

.form-container .form-column {
  flex: 1;
  margin: 2px 15px;
}

.form-container label {
  display: block;
  font-weight: bold;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 5px;
  margin-top: 6px;
  box-sizing: border-box;
}

.form-container textarea {
  height: 120px;
}

.form-container .form-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #0c4d94;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .form-container .form-container {
    width: 100%;
  }

  .form-container .form-container label {
    font-size: 1.6vh;
  }
}