.footer-container {
  background-color: #002d73;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer-container h2 {
  color: #ffd200;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
  font-size: 2.5rem;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-info div {
  margin: 10px;
}

.footer-info h4 {
  margin-bottom: 5px;
}

.footer-social {
  margin-top: 20px;
}

.footer-social img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.inquiry-container {
  width: 40%;
}

.inquiry-text {
  margin: 20px 0;
}

.inquiry-box {
  height: 200px;
  margin: 0 auto 20px;
  background: white;
}

.footer-logo {
  position: absolute;
  right: 20px;
  bottom: 60px;
}

.footer-logo img {
  width: 80px;
  border-radius: 50%;
}

.footer-bottom {
  background-color: #ffd200;
  color: #002d73;
  padding: 10px 0;
  font-weight: bold;
  width: 100vw;
  text-align: center;  
}

@media screen and (max-width: 768px) {
}