.footer-container {
  background-color: #002d73;
  padding: 40px 20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  position: relative;
}

.footer-container h2 {
  color: #ffd200;
  margin-bottom: 20px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-info div {
  margin: 10px;
}

.footer-info h4 {
  margin-bottom: 5px;
}

.footer-social {
  margin-top: 20px;
}

.footer-social img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.inquiry-text {
  margin: 20px 0;
}

.inquiry-box {
  width: 80%;
  height: 150px;
  margin: 0 auto 20px;
  background: white;
}

.footer-bottom {
  background-color: #ffd200;
  color: #002d73;
  padding: 10px 0;
  font-weight: bold;
}

.footer-logo {
  position: absolute;
  right: 20px;
  bottom: 60px;
}

.footer-logo img {
  width: 80px;
  border-radius: 50%;
}


.copyright-right-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav p {
  margin-right: 10px;
  font-size: 15px;
}

.right-nav .social-media {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.right-nav .social-media img {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 20px;
}

.right-nav .terms a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.copyright {
  margin: 0;
  text-align: center;
  color: black;
}

.copyright p {
  font-size: 10px;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 768px) {
  .terms {
    display: none;
  }

  .social-media {
    position: relative;
    left: 10px;
  }

  .copyright {
    display: none;
  }
}