.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 150px;
  overflow: hidden;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 4vw;
  box-sizing: border-box;
}

.logo img {
  height: 150px;
  padding: 0;
  object-fit: contain;
  max-width: 100%;
}

.nav-wrapper {
  margin-right: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 25px;
  color: #0c4d94;
  text-decoration: none;
  padding: 10px 10px;
  font-weight: 600;
}

nav li:last-child {
  margin-right: 0;
}

.header-content nav a {
  font-size: 1.6vw;
  padding: 10px 0;
  color: #0c4d94;
  text-decoration: none;
}

.menu-toggle {
  display: none;
}
  
  @media screen and (max-width: 768px) {
    .header-content {
      flex-direction: column;
      align-items: center;
      width: 200px;
    }
  
    .logo {
      text-align: center;
    }

    .logo img {
      padding-top: 5px;
      padding-bottom: 0px;
    }

    nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 0 0 15px 15px;
    }
  
    nav.open {
      display: block;
    }

    nav.open p {
      font-size: 10px;
      margin: 4px 0 0 0;
      padding-left: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 10px 0 10px;
    }
  
    nav li:not(:last-child) {
      margin-bottom: 10px;
    }
  
    .menu-icon-wrapper {
      display: flex;
      cursor: pointer;
      z-index: 101;
      position: absolute;
      width: fit-content;
      background-color: transparent;
      border: none;
      top: 18px;
      right: 18px;
    }
    
    .menu-icon-wrapper .menu-icon {
      width: 20px;
      fill: #0c4d94;
    }
  }
  