.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    height: 55px;
    list-style: none;
  }
  
  nav {
    padding-top: 0px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-top: 12px;
    padding: 0;
  }
  
  nav li {
    margin-right: 10px;
    position: relative;
    font-size: 18px;
    white-space: nowrap;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  .header-content nav a {
    color: #0c4d94;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
  }

  .header-content nav a:hover {
    color: #ee3643;
  }
  
  .logo img {
    padding-top: 8px;
    padding-bottom: 7px;
    height: 45px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .header-content {
      flex-direction: column;
      align-items: center;
      width: 200px;
    }
  
    .logo {
      text-align: center;
    }

    .logo img {
      padding-top: 5px;
    }
  
    nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    nav.open {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav li {
      margin-bottom: 10px;
    }
  
    .menu-icon-wrapper {
      display: flex;
      cursor: pointer;
      z-index: 101;
      position: absolute;
      width: fit-content;
      background-color: transparent;
      border: none;
      top: 18px;
      right: 20px;
    }
    
    .menu-icon-wrapper .menu-icon {
      width: 20px;
      fill: #0c4d94;
    }
  }
  