.hero-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 60px 8%;
  box-sizing: border-box;
  text-align: left;
  height: calc(100vh - 150px);
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-overlay-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 23, 45, 0.6);
  z-index: 1;
}

.hero-overlay-content {
  position: relative;
  z-index: 2;
  max-width: 850px;
  color: white;
}

.hero-overlay-content h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 25px 0 0 0;
  line-height: 1.2;
}

.hero-overlay-content p {
  margin-bottom: 16px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
}

.hero-catalog-button {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 50px;
  font-size: 1.5rem;
}