@font-face {
  font-family: 'Futura Medium';
  src: url('/src/assets/fonts/Futura-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-family: 'Futura Medium', Futura, 'Trebuchet MS', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-button {
  background: #073377;
  color: #ffd200;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  transition: background 0.2s;
}

.default-button:hover {
  background-color: #093b73;
  color: #ffd200;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  visibility: hidden;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.scroll-to-top-button.show {
  visibility: visible;
}

a {
  color: black;
  text-decoration: none;
}

.thin {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}
