.product-page-container {
  margin: 70px 0 70px 0;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px;
  border: 1px solid #ccc;
}

.product-image {
  position: relative;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
}

.prev-button {
  left: 2px;
}

.next-button {
  right: 2px;
}

.product-image img {
  height: 350px;
  width: auto;
  max-width: 400px;
  border-radius: 5px;
}

.product-details-container {
  margin-right: 15px;
  flex-basis: 58%;
  position: relative;
}

.product-name p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.product-name p:last-child {
  font-size: 14px;
  font-weight: 300;
  margin: 5px;
}

.details-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.link-container {
  cursor: pointer;
}

.product-details {
  float: left;
  margin: 10px 0;
}

.product-details p {
  font-size: 16px;
  margin: 5px 0;
}

.indent {
  margin: 10px 0 10px 10px;
}

.product-description {
  margin-top: 20px;
}

.product-description p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.contact-details {
  float: right;
}

.product-secondary-container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  border: 1px solid #ccc;
  align-items: center;
}

.item-specs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.item-specs button {
  font-size: 16px;
  padding: 12px 20px;
  margin: 0 10px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

.item-specs button.active {
  color: #0c4d94;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  height: fit-content;
  max-width: 600px;
}

.tab-content li {
  margin-bottom: 10px;
}

.tab-content p {
  margin: 10px 0;
  max-width: 700px;
}

.product-options {
  text-align: center;
  margin: 0 auto;
}

.product-grid-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product-grid-small-item {
  position: relative;
  flex: 1 0 calc(33.33% - 20px);
  padding: 10px;
  cursor: pointer;
  max-width: 100px;
}

.product-grid-small-item a {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.product-square {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-square-small img {
  max-height: 100%;
  max-width: 100%;
}

.product-grid-small-item.highlighted .product-square {
  border: 2px solid #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlay-image-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.overlay-image {
  max-width: 40vw;
  padding: 30px;
  object-fit: contain;
  background-color: white;
}

.overlay-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.close-button {
  top: 25px;
  right: 8px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .product-image img {
    height: 250px;
  }

}

@media screen and (max-width: 900px) {
  .product-page-container {
    margin-top: 55px;
    margin-bottom: 0px;
  }

  .product-details-container {
    margin-right: 15px;
    flex-basis: 52%;
    position: relative;
  }

  .overlay-image {
    max-width: 70vw;
    padding: 30px;
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  .product {
    border: none;
    border-bottom: 1px solid #ccc;
    justify-content: center;
  }

  .product-details-container {
    margin-top: 15px;
    margin-right: 0px;
    flex-basis: 100%;
  }

  .product-details {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .product-secondary-container {
    border: none;
    border-top: 1px solid #ccc; 
  }
}
