.promotions-container {
  padding-top: 55px;
  min-height: calc(100vh - 100px - 55px);
  width: 60%;
  margin: 0 auto;
}

.promotions-content {
  margin-top: 50px;
}

.promotions-links {
  margin-top: 30px;
}

.promotions-links a, .promotions-content p {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  justify-content: center;
  color: #0c4d94;
}

.promotions-links a {
  font-weight: 800;
  font-size: 2.5vh;
}

.promotions-content p {
  font-weight: 400;
  font-size: 2.8vh;
}

.promotions-links a:hover {
  color: #ee3643;
}
