.promotions-container {
  padding-top: 55px;
  min-height: calc(100vh - 100px - 55px);
  margin: 0 auto;
  align-items: center;
}

.promotions-content {
  margin-top: 100px;
}

.promotions-text {
  font-size: 3.5vh;
  width: 50%;
  margin: 0 auto;
}

.promotions-links {
  margin-top: 80px;
}

.promotions-links a,
.promotions-content p {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  justify-content: center;
  text-align: center;
}

.promotions-links a {
  font-weight: 700;
  font-size: 3vh;
}

@media screen and (max-width: 768px) {
  .promotions-text {
    font-size: 3vh;
    width: 100%;
  }

  .promotions-links a {
    font-weight: 800;
    font-size: 2vh;
  }
}